* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vw;
    display: flex;
    background-color: blue;
}

h1 {
    margin: auto;
    margin-top: 100px;
}

.button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    background: #f00df7;
    color: #fff;
    padding: 20px 35px;
    font-size: 20px;
}

#si {
    left: 20%;
    transform: translateY(-50%) translateY(-20%);
}

#no {
    left: 80%;
    transform: translateY(-50%) translateY(-20%);
}